################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotnetcore-webapp/v16
/dotnet-core-webapp.webtests/bin/Debug
/dotnet-core-webapp.webtests/obj
