name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.100
    
    # dotnet build and publish
    - name: Build with dotnet
      run: |
        ls
        dotnet build --configuration Release ./dotnet-core-webapp/dotnetcore-webapp.csproj
      
    - name: dotnet publish
      run: |
        dotnet publish -c Release -o dotnetcorewebapp ./dotnet-core-webapp
        
    # test for usage in versioning
    - name: Hello world
      run: echo Hello world, run number = $NBR
      env: 
        NBR: ${{ github.RUN_NUMBER }}
        
    # SonarCloud integration
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # is necessary and is automatically injected by GitHub
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with: 
        projectVersion: ${{ github.RUN_NUMBER }}
        projectBaseDir: dotnet-core-webapp
        
    # publish to Azure App Service
    - name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v1
      with: 
        app-name: dotnetcorewebapp19 # Replace with your app name
        publish-profile: ${{ secrets.publish_profile }} # Define secret variable in repository settings as per action documentation
        package: './dotnetcorewebapp' 
        
    - name: Curl the website as a smoke test
      uses: wei/curl@v1
      with:
        args: -X GET https://dotnetcorewebapp19.azurewebsites.net/


  webtest:

    runs-on: windows-latest
    needs: build-and-deploy

    steps:
    - uses: actions/checkout@v1
    - name: Run Web Test
      run: |
        pwd
        ls
        # overwrite the AppSettings.json
        $pathToFile = "./dotnet-core-webapp.webtests/AppSettings.json"
        $fileContent = Get-Content $pathToFile
        $fileContent = $fileContent.Replace("http://localhost/dotnetcore-webapp/", "https://dotnetcorewebapp19.azurewebsites.net/")
        Set-Content $(pathToFile) $fileContent

        dotnet build --configuration Release ./dotnet-core-webapp.webtests
        cd ./dotnet-core-webapp.webtests

        dotnet test