name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.100
#    - name: Build with dotnet
#      run: dotnet build --configuration Release

#    - uses: azure/appservice-actions/webapp@master
#      with:
#        app-name: dotnetcorewebapp19
#        publish-profile: ${{ secrets.publish_profile }}
#        package: "bin/Release/netcoreapp3.0"

    
    # dotnet build and publish
    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: dotnet publish
      run: |
        dotnet publish -c Release -o dotnetcorewebapp 
    - name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v1
      with: 
        app-name: dotnetcorewebapp19 # Replace with your app name
        publish-profile: ${{ secrets.publish_profile }} # Define secret variable in repository settings as per action documentation
        package: './dotnetcorewebapp' 